/* Nastavení box modelu na všechny elementy, zakázání výběru textu */
*, *::before, *::after {
  box-sizing: border-box;
  user-select: none;
}

/* Nulování okraje těla, centrování obsahu a výšky na minimální obrazovku */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Styly pro celý herní svět */
.world {
  overflow: hidden;
  position: relative;
}

/* Styly pro zobrazení skóre v herním světě */
.score {
  position: absolute;
  font-size: 3vmin;
  right: 1vmin;
  top: 1vmin;
}

/* Styly pro úvodní obrazovku */
.start-screen {
  position: absolute;
  font-size: 5vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Styly pro skrytí elementu */
.hide {
  display: none;
}

/* Styly pro pozemní plochy v herním světě */
.ground {
  --left: 0;
  position: absolute;
  width: 300%;
  bottom: 0;
  left: calc(var(--left) * 1%);
}

/* Styly pro dinosaura v herním světě */
.dino {
  --bottom: 0;
  position: absolute;
  left: 1%;
  height: 30%;
  bottom: calc(var(--bottom) * 1%);
}

/* Styly pro kaktus v herním světě */
.cactus {
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 30%;
  bottom: 0;
}

